<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.findmeadrink_mobile">
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="28" />
    <application android:label="findmeadrink_mobile.Android">
      <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyAaofiKriE1N3bPDVHyp_Jy5GuhVX55bho" />
      <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>
